In [ ]:
#python-01
#-01
nishan = 'Name:- Aktaruzzaman , ID :- UG02-59-22-012 '
print(nishan)
#-02
Integer_number = 5000
flote_number = 100.012

new_number = Integer_number + flote_number

print("value :" ,new_number)
print("Data Type :", type(new_number))

#-03
a = (input('Enter the 1st Number: '))
b = (input('Enter the 2nd Number: '))

print('Sum :', int(a)+int(b))
print('Subtraction:', int(a) - int(b))
print('Multiplication:', int(a) * int(b))
print('Division:', int(a) / int(b))
print('Floor Division:', int(a) // int(b))
print('power:', int(a) ** int(b))

Name:- Aktaruzzaman , ID :- UG02-59-22-012
value : 5100.012
Data Type : <class 'float'>
Enter the 1st Number: 15
Enter the 2nd Number: 5
Sum : 20
Subtraction: 10
Multiplication: 75
Division: 3.0
Floor Division: 3
power: 759375

In [ ]:
#python-02

#-01
number = int(input('Enter a number:'))

if number > 0:
   print('Positive Number')
else:
   print('Not a Positive Number ')


#-02
Number = int(input('Entar a Number'))

if Number > 0:
  print('Positive Number')
elif Number < 0:
    print('Negative Number')
else:
      print('Zero')

Enter a number:34
Positive Number
Entar a Number0
Zero

In [ ]:
#python-03
#-01
language = 'python'

for x in language:
    print(x)

#-02
#interate from i = 0 to i = 10
for i in range(10):
    print(i)

p
y
t
h
o
n
0
1
2
3
4
5
6
7
8
9

In [9]:
#-python-04

#-01
num1 = 5
print(num1, 'is of type', type(num1))
num2 = 5.25
print(num2, 'is of type', type(num2))
num3 = 5 + 8j
print(num3, 'is of type', type(num3))

5 is of type <class 'int'>
5.25 is of type <class 'float'>
(5+8j) is of type <class 'complex'>

In [11]:
#-python-05

#-01
country_capitals = {
    "Germany": "Berlin",
    "Italy": "Naples",
    "England": "London"
}

# Update Italy's capital
country_capitals["Italy"] = "Rome"

# Print the updated dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Italy': 'Rome', 'England': 'London'}

In [14]:
#-python-06

#-01
def generate_pascals_triangle(n):
    triangle = []

    for i in range(n):
        row = [1]
        if triangle:
            last_row = triangle[-1]
            for j in range(1, len(last_row)):

                row.append(last_row[j - 1] + last_row[j])
            row.append(1)
        triangle.append(row)

    return triangle
rows = 6
triangle = generate_pascals_triangle(rows)
for row in triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [16]:
def power(x, n):

    if n == 0:
        return 1

    return x * power(x, n - 1)

x = 2
n = 3
result = power(x, n)
print(result)

8

In [17]:
def find_unique_elements(lst):
    unique = []
    for item in lst:
        if lst.count(item) == 1:
            unique.append(item)
    return unique
data = [1, 2, 2, 3, 4, 4, 5]
result = find_unique_elements(data)
print(result)

[1, 3, 5]